pipeline/PL3_IncrementallyLoadNew_ChangedFiles.json
{
	"name": "PL3_IncrementallyLoadNew_ChangedFiles",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@adddays(utcnow(),-1)",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Blob_input_txt_PL1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Blob_outputUpdated_PL3",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileCount",
					"value": {
						"value": "@string(activity('Copy data1').output.filesWritten)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"fileCount": {
				"type": "String"
			}
		},
		"folder": {
			"name": "RTS"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-02T21:03:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}